h1, p {
  font-family: Lato;
}

header {
  background-color: #1e90ff;
  margin: -10px;
  height: 20%
}

header button{
   height: 100%;
   border-radius: 8px;
  width: auto;
  overflow: hidden;
  border-style: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
  padding: 5px;
  margin: 2px;
  background-color: white;
 }

 header button:hover{
    background-color: #ddd;
    color: #000;
 }

 header nav {
    height: 50px;
    padding: 20px;
    display: flex;
    justify-content:  flex-end;
 }